
@{
    ViewData["Title"] = "Register";
}
    <head>
        <title>Реєстрація</title>
    </head>
    <body>
     <form method="post" class="login-form">
         <br>
         <label>Реєстрація</label>
          <br>
         <input placeholder="Логін"type="text" name="username" required>
         <br>
         <input placeholder="Пароль" type="password" name="password" required>
         <br>
         <br>
         <button class="anim-button" type="submit">Заєреструватися!</button>
        <br>
     </form> 
    </body>
    
